{% set title = "관리자 : 상세페이지" %}
<!---->
{% extends "layout/base.html" %}
<!---->
{% block content -%}
<style>
  .editForm__width {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
</style>
<div class="editForm__width">
  <form action="" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="form-group">
      <label for="username">ID</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        value="{{ user.username }}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="displayname">닉네임</label>
      <input
        type="text"
        class="form-control"
        id="displayname"
        name="displayname"
        value="{{ user.displayname }}"
        placeholder="닉네임"
      />
    </div>
    <button type="submit" class="btn btn-primary">수정하기</button>
  </form>
</div>

{% endblock %}
